/* General styling */
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: -1;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
}

.title {
    font-size: 24px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    padding: 20px;
    border-radius: 8px;
}

.modal-content {
    color: #fff;
}

.close-btn {
    cursor: pointer;
    float: right;
}

.password-container {
    display: flex;
    align-items: center;
}

#togglePassword {
    margin-left: 8px;
    background: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/* Admin Panel styling */
.control-panel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
    color: #fff;
    padding: 20px;
    overflow-y: auto;
    flex-direction: column;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4a90e2;
    border-bottom: 2px solid #4a90e2;
}
